h1{
    color: black;
    margin: 50px;
    position: relative;
    left: 150px;
}
h2{
    margin: 50px;
    position: relative;
    left: 275px;
}
input[type="number"]{
    height: 20px;
    width: 30px;
}
table {
    border-collapse: collapse;
    background-color: white;
 }
 table.center{
    background-color: white;
     margin-left: 550px;
     margin-right: auto;
     margin-top: -250px;
 }
 button{
    text-align: center;
    border-radius: 10px;
    border-color: black;
    border-style: outset;
    font-size: 15px;
 }
